.icons-row {
    display: flex;
    justify-content: space-between;
}

.icons-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-row__icon i {
    font-size: 35px;
}

.icons-row__icon span {
    margin-top: 15px;
}

.icons-row__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 360px;
}